body {
    padding-top: 50px;
    font-family: "Roboto";
    background-color: #1C1C1C;
    color: white;
}

footer {
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
}

/* Klassen

.form-control {
    padding-left: 2.375rem;
}
*/

.form-control-outline-searchbar {
    border: white;
}
.form-inline-searchbar {
    margin-right: 5px;
}
.carousel-inner {
    border-radius: 10px;
    height: 96vh;
}

.links {
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 0;
}

.btn-dark {
    color: white;
    background-color: #8F0CE8;
}

.btn-red {
    color: white;
    background-color: #FF0D48;
}

.modal-body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #1C1C1C;
}

.jumbotron-fluid {
    height: 100vh;
}

.navbar-brand {
    background-color: black;
}

.navbar {
    background-color: black;
    color: white;
}

.nav-link {
    color: white;
}

a:active.nav-link {
    color: white;
}


.user-container {
    background: black;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
    background-color: black;
}

.modal-header {
    justify-content: center;
    width: 100%;
    text-align: center;
}

.user-link {
    text-align: center;
}

.form-rounded {
    border-radius: 5px 0px 0px 5px;
    width: 20em;
}

.buchungscontainer {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 0 10px;
    width: 90vw;
}

.buchungscontainer h5 {
    font-weight: bold;
}
.quantity {
    color: #000;
    display: inline-block;
    vertical-align: top;
    line-height: 10px;
}

.tickettext {
    font-size: small;
}
/*
.modal-footer{
    margin-top: 480px;
}
*/

.modal-footer-warenkorb{
    margin-top: 480px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

/* ID's */

#carousel_container {
    margin: 0 0 5% 0;
}

#loginmodal {
    text-align: center;
}

/*#search_btn {
    color: #999da0
}
*/
#btnLogout {
    font-weight: bold;
}

#anleitung_container, #veranstallterinfo {
    display: flex;
}

#user-table-body {
    color: white;
}

#login_input {
    width: 50%;
    margin: 0 25% 10px 25%
}

#btnLogin {
    margin-bottom: 10px;
}

#btn-round {
border-radius: 60%;
}

#btn-more {
    background-color: #DD00FF;
    color: white;
}

#Artikel1 {
    background-color: black;
    color: white;
    line-height: 5px;
    font-size: small;
}

#Artikel2 {
    background-color: black;
    color: white;
    line-height: 5px;
    font-size: small;
}

#Artikel3 {
    background-color: black;
    color: white;
    line-height: 5px;
    font-size: small;
}

#Artikel4 {
    background-color: black;
    color: white;
    line-height: 5px;
    font-size: small;
}

#Gesamtsumme {
    background-color: black;
    color: white;
}

/*calendar styles "Alle Festivals"*/
ul {list-style-type: none;}
body {font-family: Roboto, sans-serif;}

/*month header*/
.month {
    padding: 20px 25px;
    width: 100%;
    float: left;
}
/*month list*/
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    font-size: 20px;
    float: left;
}
/*weekdays MO-SO*/
.weekdays {
    margin: 0;
    padding: 7px 0;
}

.weekdays li {
    display: inline-block;
    width: 8%;
    color: #666;
    text-align: center;
}
/*01-31*/
.days {
    padding: 10px 0;
    margin: 1px;
    color: white;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 8%;
    text-align: center;
    margin-bottom: 1px;
    font-size:12px;
    color: white;
}
/*Highlight the festival dates */
.days li .active1 {
    padding: 5px;
    background: #FF0D48;
    color: black !important
}

/*Highlight the festival dates */
.days li .active2 {
    padding: 5px;
    background: white;
    color: black !important
}

/*Highlight the festival dates */
.days li .active3 {
    padding: 5px;
    background: #DD00FF;
    color: black !important
}

table {
    color: white;
}





/* Profil */
/*body{
    background-color: #ebeef4;
    margin-top:20px;
} */
.profil_container {
    width: 100vw;
    margin: 0;

}
.profile .profile-header {
    position: relative;
}
.profile-header-top {
    height: 95vh;
    background-color: black;
}
.profile-header-bottom {
    margin: 10vh 15vh 15vh 15vh;
}
.profile-header-content {
    border-top: 4px solid white;

}

#profile_tabs {
    background: black;
    height: 7vh;
}
.festival_tabs {
    margin-bottom: 10px;
}

.list-group, .list-group-item {
    border-radius: 10px;
}
.list-group-item {
    height: 12em;
    background: black;
}
.list-group-item-message {
    height: 12em;
}
.nav-link.active {
    color: white;
}
.nav-link-tab.active {
    color: white;
}
.nav-item-festival {
    color: white;
}

.nav-item-festival a:hover {
    color: white;
}
.nav-item-festival.active {
    border-bottom:4px solid #DD00FF;
}
.nav-item a:hover {
    /*  border-bottom:4px solid; #DD00FF;*/
}

.nav-link.active {
    border-bottom:4px solid #FF0D48;
}

/* Profil -- Background-Img */
#bc_img {
    width: 100vw}
.profile .profile-header .profile-header-cover {
    /*background-image: url(../views/Pictures/startseite2.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;

}
@media (max-width: 991.98px) {
    .profile .profile-header .profile-header-cover {
        height: 6.25rem;
    }
}
.profile .profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33, 40, 55, 0.35);
}
/* Profil-Bild */
.profile .profile-header .profile-header-content {
    position: relative;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 991.98px) {
    .profile .profile-header .profile-header-content {
        display: block;
        padding: 0 20px;
    }
}
/* Profil-Bild -- Einstellungen*/
.profile .profile-header .profile-header-content .profile-header-img {
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    z-index: 10;
    margin-top: -20rem;
    padding: 0.5rem;
    background: #fff;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}
@media (max-width: 991.98px) {
    .profile .profile-header .profile-header-content .profile-header-img {
        width: 4.375rem;
        height: 4.375rem;
        margin: -3.75rem 0 0;
    }
}
/* Profilbild -- Border*/
.profile .profile-header .profile-header-content .profile-header-img img {
    max-width: 100%;
    width: 100%;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}
/* Profil -- Info */
.profile .profile-container {
    padding: 30px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    text-align: center;
}
@media (max-width: 991.98px) {
    .profile .profile-container {
        padding: 20px 20px;
    }
}
.profile .profile-container .profile-sidebar {
    width: 13.75rem;
}
@media (max-width: 991.98px) {
    .profile .profile-container .profile-sidebar {
        display: none;
    }
}
.profile .profile-container .profile-content {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media (max-width: 991.98px) {
    .profile .profile-container .profile-content {
        padding-left: 0;
    }
}
/* Profil -- Tabs */
.profile-header-tab {
    font-size: x-large;
}
/* Others */
.profile .profile-header .profile-header-content .profile-header-tab {
    position: relative;
    margin-left: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.profile .profile-header .profile-header-content .profile-header-tab {
    margin: -0.625rem -20px 0;
    padding: 0 20px;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link {
    padding: 0.8125rem 0.625rem 0.5625rem;
    text-align: center;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link {
    padding: 0.9375rem 0.625rem 0.3125rem;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link .nav-field {
    font-weight: 600;
    font-size: 0.8125rem;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link .nav-field {
    font-size: 0.6875rem;
    margin-bottom: -0.125rem;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link .nav-value {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link .nav-value {
    font-size: 1.125rem;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item .nav-link.active {
    background: transparent;
}
.profile .profile-header .profile-header-content .profile-header-tab .nav-item + .nav-item {
    margin-left: 0.9375rem;
}

#uebersicht {
background: url("./views/Pictures/detailseite.jpg");
    width: 100%;
}

.start {
    background-color: black;
    margin-top: 50px;
    margin-right: 200px;
    width: 50%;
}

.fbild {
    float: left;
}

#bewertungendiv {
    background-color: black;
    color: white;
}

.lineup {
    margin-top: 50px;
}

.data {
    margin-top: 25px;
    color: #FF0D49;
}

#logo_lineup {
    justify-content: center;
    align-items: center;
}

h4{
    text-align: center;
}

.act {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timetable {
    margin: 0 2px 0 2px;
}

h6 {
    font-weight: bold;
    margin-bottom: -20px;
}

.stream {
    background-color: #FF0D49;
    color: white;
    margin-top: 20px;
}

.header_hintergrund {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.reiter {
    margin-left: 150px;
    margin-top: 25px;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
}


.btndate {
    background-color: #8F0CE8;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
}

.container-lineup {
    width: 90vw;
    margin-left: 60px;
}

.container-timetable {
    margin: 0 10px 0 10px;
    border-radius: 10px;
}

.categories {
    margin-left: 190px;
    margin-top: 25px;
}

.editLabel {
    margin-top: 15px;
}

/*Streams + Stages*/

.streamframe1 {
    background-color: black;
    color: black;
}

.streamframe2 {
    background-color: black;
}

.streamframe3 {
    object-fit: cover;
    background-color: black;
}

.stream-video {
    padding: 0;
}

.streamframe4 {
    background-color: black;
}

.streamframe5 {
    background-color: black;
    font-size: small;
    padding-right: 20px ;
}

.streamframe6 {
    background-color: black;
    font-size: small;
    vertical-align: text-top;
}

.Chat1 {
    background-color: #DD00FF;
    font-size: larger;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 5px 5px 5px;
}

.Chat2 {
    background-color: white;
    border-radius: 0 0 10px 10px;
    color: black;
}

.Chat3 {
    font-weight: bold;
}

.btn-chat {
    background-color: #DD00FF;
    color: white;
    border: #DD00FF;
}

.act-stage {
    font-size: small;
}

.modal-header {
    border-bottom: 1px solid #DD00FF;
}

.modal-footer {
    border-top: 1px solid #DD00FF;
}

.close {
    color: #fff;
    opacity: 1;
}